In [13]:
import pandas as pd

df = pd.read_excel('dadosAusentes.xlsx')
print(df)

        Nome  Idade           Cidade  Salario
0       joão   28.0        são paulo   2300.0
1    arnaldo    NaN  rios de janeiro   5000.0
2      vilma   22.0              NaN      NaN
3   nanquedo   33.0           berlim    900.0
4     wagner    NaN  arraial do cabo   2500.0
5  susuarana    NaN           moscow   2500.0
6     wagner    NaN  Arraial do cabo     20.0
7      vilma   22.0              NaN      NaN

In [2]:
#corrigir errros de formatação (maiusculo, minusculo)
#df['Cidade'] = df['Cidade'].str.capitalize()
df['Cidade'] = df['Cidade'].str.title()
print(df)

NameError: name 'df' is not defined

In [ ]:
#substituição de valores categoricos: [icons: sp, rj ]
df['Cidade'].str.lower().replace({'são paulo': 'SP', 'rio de janeiro': 'RJ', 'rj': 'RJ', 'sp': 'SP'})
print(df)

In [22]:
#identificar os tipos de dados das colunas
coluna = df.select_dtypes(include = ['string', 'object']).columns.to_list()
print(coluna)

['Nome', 'Cidade']

In [20]:
#identificar os tipos de dadpos da coluna float
colunaFloate = df.select_dtypes(include = ['float']).columns.to_list()
print(colunaFloate)

['Idade', 'Salario']

In [ ]:
#substituir idades para media
df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

In [ ]:
#converter dados para int
df['Idade'] = df['Idade'].astype(int)
print(df)

In [ ]:
#pegar o valor de cima 
df['idade'] = df['idade'].ffill()

#pegar o valor de baixo
df['Idade'] = df['Idade'].bfill()

In [ ]:
#criar uma nova coluna: faixa etária
df['Faixa Etária'] = pd.cut(df['Idade'], bins=[0, 18, 30, 50, 100], labels = ['Jovem', 'Adulto', 'Meia-Idade', 'Idoso'])
print(df)

In [27]:
#remover duplicatas
df = df.drop_duplicates(subset=['Nome'])
print(df)

        Nome  Idade           Cidade  Salario Faixa Etária
0       joão     28        São Paulo   2300.0       Adulto
1    arnaldo     26  Rios De Janeiro   5000.0       Adulto
2      vilma     22              NaN      NaN       Adulto
3   nanquedo     33           Berlim    900.0   Meia-Idade
4     wagner     26  Arraial Do Cabo   2500.0       Adulto
5  susuarana     26           Moscow   2500.0       Adulto